<h1><%= @board.name %> Lists</h1>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, board_list_path(@board,list) %>
     </li>
<% end %>
</ul>
  <%= link_to "Add List", new_board_list_path(@board), class:"btn orange" %>
  <%= link_to "Back", root_path %>
  <br />
  <%= link_to "Delete Board", board_path, method: :delete, class:"btn blue" %>
  <%= link_to "Edit Board", edit_board_path(@board) %>
