<h1><%= @board.name %> Lists</h1>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list %>
     </li>
<% end %>
</ul>
  <%= button_to "Add List", new_board_list_path(@board) %>
  <%= link_to "Delete Board", board_path(@board), method: :delete %>
  <%= link_to "Edit Board", edit_board_path(@board) %>
